body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

#sensor-data {
    margin-top: 20px;
}

#sensor-data p {
    margin: 5px 0;
}
